.container {
  display: flex;
  /* width: 1560px; */
  margin: 0 auto;
  flex-direction: row;
  min-height: 100vh;
}

.sidebar {
  flex: 1;
  position: sticky;
  position: -webkit-sticky;
  align-self: flex-start;
  top: 70px;
}

.main-content {
  flex: 3;
  /* position: relative; */
}

/* Below 1000px width, stack sidebar and main-content vertically */
@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
}
