/* Using Keyframes for animations */


/* Experience Material transitions */
.experience {
    border-radius: 10px;
    background-color: rgba(85, 85, 85, 0.25);
    transition: background-color 0.5s, color 0.5s;
}

.experience:hover {
    background-color: rgba(85, 85, 85, 0.45);
    color: #cfe;
}


/* Tech Stack SVG transitions */

.tech-stack {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
    height: 400px;
}

.tech-stack .tech-icon {
    height: 80px;
    width: 100px;
    display: table-cell;
}

.tech-icons-container {
    position: absolute;
    top: 100px;
    left: 30px;
}

.tech-icons-container img {
    width: 40px;
}

.tech-stack .tech-tab {
    text-align: center;
}

.tech-tab .option {
    display: inline-block;
    border-radius: 20px;
    color: #343;
    transition: color 0.5s;
}
.tech-tab .option:hover {
    cursor: pointer;
    color: #898;
}
.option-selected {
    cursor: pointer;
    color: rgb(13, 212, 13);
}

.tech-links {
    display: inline-block;
    border-radius: 20px;
    background-color: aqua;
    color: #eee;
}

.tech-links a {
    text-decoration: none;
    color: #343;
    font-size: 0.8rem;
}